Options +FollowSymLinks
RewriteEngine On

Options -Indexes

# Si le fichier ou le dossier existe, le servir directement
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Sinon, rediriger toutes les requêtes vers index.php
RewriteRule ^ index.php [L]



AddType font/woff2 .woff2
AddType font/woff .woff

# Autoriser l'accès aux fichiers statiques comme les photos
RewriteCond %{REQUEST_URI} ^/photos/ [NC]
RewriteRule ^ - [L]

# Exclure les autres fichiers statiques (CSS, JS, images dans public/)
RewriteCond %{REQUEST_URI} \.(css|js|png|jpg|jpeg|gif|svg|woff|woff2|ttf|eot|ico|webp)$ [NC]
RewriteRule ^ - [L]